<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/app/home" class="custom-tab-button">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="movies" href="/app/movies" class="custom-tab-button">
      <ion-icon aria-hidden="true" name="film-outline"></ion-icon>
      <ion-label>Movies</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="series" href="/app/series" class="custom-tab-button">
      <ion-icon name="tv-outline"></ion-icon> <ion-label>Series</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile" href="/app/profile" class="custom-tab-button">
      <ion-icon aria-hidden="true" name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
