.logo {
  width: 40px;
}
ion-toolbar {
  box-shadow: -3px -7px 10px 0px;
  --background: rgba(2, 51, 118, 1);
}
.arrow {
  color: #ffffff;
  width: 30px;
  height: 25px;
}
ion-item {
  text-align: center;
  font-weight: 500;
  color: #ffffff;
}
ion-title {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 25px;
}
