.container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.container strong {
  font-size: 20px;
  line-height: 26px;
}
#signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  height: 100%;
  margin-top: 30%;
}

.logo img {
  width: 61px;
}

h1 {
  font-size: 24px;
  margin-bottom: 8px;
}

p {
  font-size: 14px;
  color: #666;
  margin-bottom: 32px;
}
ion-button {
  --color: #fff;
  --background: #ff5722;
  --border-radius: 40px;
  --border-color: rgba(2, 51, 118, 1);
  --border-width: 1px;
  ----color-activated: black;
  text-transform: none;
  text-align: center;
  h1 {
    margin-left: 6px;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: Gacor, sans-serif;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 3px;
  }
}
//define fonts
@font-face {
  font-family: Gacor;
  src: url("../../../assets/fonts/Gacor.ttf");
}
.logo {
  width: 71px;

  margin-top: 10%;
}
ion-toolbar {
  box-shadow: -3px -7px 10px 0px;
  --background: rgba(2, 51, 118, 1);
  // padding: 30px;

  ion-buttons {
    align-items: center;
    text-align: center;
  }
}

ion-row {
  text-align: center;
}
ion-icon {
  margin-right: 5px;
}
ion-label {
  color: rgba(65, 70, 75, 1);
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;
}
form {
  width: 80%;
  ion-input {
    margin-bottom: 5%;
    --border-radius: 14px;
    --border-color: rgba(2, 51, 118, 1);
    --highlight-color-focused: #ff5722; // input border focuse color
    height: 16px;
  }
}
ion-item {
  --background: transparent;
  --highlight-height: 2px;
  --highlight-color-focused: rgba(2, 51, 118, 1);
  margin-bottom: 16px;
  width: 100%;
}
