#signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  height: 100%;
  margin-top: 30%;
}

.logo img {
  width: 61px;
}

h1 {
  font-size: 24px;
  margin-bottom: 8px;
}

p {
  font-size: 14px;
  color: #666;
  margin-bottom: 32px;
}
ion-button {
  --color: #fff;
  --background: #fff;
  --border-radius: 40px;
  --border-color: #ff5722;
  --border-width: 1px;
  --background: rgba(2, 51, 118, 1);
  ----color-activated: black;
  text-transform: none;
  text-align: center;
  h1 {
    margin-left: 6px;
    margin-bottom: 20px;
    color: rgba(2, 51, 118, 1);
    font-family: Gacor, sans-serif;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 3px;
  }
}
//define fonts
@font-face {
  font-family: Gacor;
  src: url("../../../assets/fonts/Gacor.ttf");
}
form {
  width: 80%;
  ion-input {
    margin-bottom: 5%;
    --border-radius: 14px;
    --border-color: rgba(2, 51, 118, 1);
    --highlight-color-focused: #ff5722; // input border focuse color
    height: 16px;
  }
}
ion-checkbox {
  --size: 22px;
  --checkbox-background-checked: rgba(2, 51, 118, 1);
  --checkbox-background: #fff;
  --checkmark-color: #fff;
}
ion-checkbox::part(container) {
  border-radius: 6px;
  border: 2px solid #90979c;
}

ion-item {
  --background: transparent;
  --highlight-height: 2px;
  --highlight-color-focused: rgba(2, 51, 118, 1);
  margin-bottom: 16px;
  width: 100%;
}

ion-button {
  --background: rgba(2, 51, 118, 1);
}

.error-message {
  color: red;
  font-size: 12px;
  margin-bottom: 3%;
}

.signupButton {
  color: white;
  background-color: rgba(2, 51, 118, 1);
  border-radius: 50%;
  height: 60px;
  width: 97%;
}

.loginLink {
  margin-left: auto;
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
  font-weight: 600;
}

.signup:hover {
  text-decoration: underline;
}
ion-content {
  overflow: hidden;
}
