ion-content {
  --background: #f1f2f4;
  --color: #fff;
  .recentTitle {
    color: #040b14;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 600;
    margin-left: 20px;
  }
}

swiper-container {
  width: 98%;
}

swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 380px;
  background-color: #fff;
  border-radius: 30px;
  margin-top: 10px;
  margin-left: 4%;
  max-width: 60%;
  .detail {
    margin-bottom: 19px;
  }
  ion-row {
    text-align: center;
  }
  ion-icon {
    margin-right: 5px;
  }
  ion-label {
    color: rgba(65, 70, 75, 1);
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 500;
  }
}

ion-button {
  --color: #ff5722;
  --background: #fff;
  --border-radius: 40px;
  --border-color: #ff5722;
  --border-width: 1px;
  ----color-activated: black;
  text-transform: none;
  text-align: center;
  h1 {
    margin-left: 6px;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: Gacor, sans-serif;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 3px;
  }
}
//define fonts
@font-face {
  font-family: Gacor;
  src: url("../../../assets/fonts/Gacor.ttf");
}
.slide-content {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.slide-content img {
  width: 266px;
  height: 192px;
  border-radius: 30px;
  object-fit: fill;
  // border-image: 30px 0 linear-gradient(#0003, #000);
}

.slide-content h3 {
  // margin-top: 10px;
  color: #3e3a3f;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
}
.logo {
  width: 40px;
  margin-top: 3px;
}
ion-toolbar {
  box-shadow: -3px -7px 10px 0px;
  height: 84px;
  --background: rgb(3, 51, 120);

  ion-buttons {
    margin-top: 10px;
    align-items: center;
    text-align: center;
  }
}

ion-popover {
  --width: 40%;
}
.titles {
  padding: 10px;
  h1 {
    font-weight: 300;
    font-size: 16px;
    color: #7d91b0;
  }
  h2 {
    font-weight: 800;
    font-size: 22px;
    color: #7d91b0;
  }
}
.trash {
  color: rgb(155, 43, 43);
  margin-right: 5%;
}
.profile {
  color: #3e3a3f;
  margin-right: 5%;
}
ion-item {
  text-align: center;
  font-weight: 500;
  color: #3e3a3f;
}
